body {
	background-color: #cccccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 100%;
}

.img-responsive {
	max-width: 100%;
}

#left-button {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#right-button {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#ad-box {
	width: 70%;
	max-width: 500px;
	margin: 0 auto;
}

#comic-box {
	max-width: 500px;
	margin: 0 auto;
}

#left-box {
	width: 50%;
}

#right-box {
	width: 50%;
}

/*minor media query for buttons before they move to the top*/
@media screen and (min-width: 515px) {
	#left-button {
		margin-right: 50px;
	}
	#right-button {
		margin-left: 50px;
	}
}

@media screen and (min-width: 850px) {
	#ad-box {order: 1;}
	#heading-box {order: 2;}
	#left-box {
		order: 3; 
		width: 20%;
	}
	#comic-box {
		order: 4; 
		width: 60%;
	}
	#right-box {
		order: 5; 
		width: 20%;
	}
	#left-button {
		margin-top: 175px;
		margin-right: 0;
	}
	#right-button {
		margin-top: 175px;
		margin-left: 0;
	}
}
