body {
	background-color: #cccccc;
}

h1 {
	text-align: center;
}

.container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 100%;
}

.img-responsive {
	max-width: 100%;
}

.button-view {
	width: calc(50% - 20px);
	margin: 10px;
	min-width: 10px;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#ad-box {
	width: 70%;
	max-width: 500px;
	margin: 0 auto;
}

#comic-box {
	max-width: 500px;
	margin: 0 auto;
}

@media screen and (min-width: 850px) {
	#ad-box {order: 1;}
	#heading-box {order: 2;}
	#left-box {order: 3;}
	#comic-box {order: 4;}
	#right-box {order: 5;}
}